<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <?define Manufacturer="!(loc.ManufacturerName)"?>
    <?define SkuName="!(loc.ApplicationName)"?>
    <?define BatchFileToRun="dlv.bat"?>
    <?define InstallDir="dx-agent"?>
    <?define UpgradeCode="F927BD33-9FD9-4A49-BD06-BA77BDD90CF2"?> 
    <?define EulaRtf="!(loc.EulaRtf)"?>

    <!-- Use * to generate product ID on every build -->
    <Product Id="*"
             Name="$(var.SkuName)"
             Language="1033"
             Version="1.0.0.0"
             Manufacturer="$(var.Manufacturer)"
             UpgradeCode="$(var.UpgradeCode)">

        <Package Compressed="yes"
                 InstallScope="perMachine"
                 Manufacturer="$(var.Manufacturer)"
                 Description="Demo installer for $(var.SkuName)."
                 Comments="(c) 2018 $(var.Manufacturer)" />

        <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />      <!-- Remove repair -->
        <MajorUpgrade DowngradeErrorMessage="!(loc.NewerInstalled)" AllowSameVersionUpgrades="yes" />

        <!-- 
        <WixVariable Id="WixUILicenseRtf" Value="$(var.EulaRtf)" /> 
        -->

        <Property Id="CMD">
            <DirectorySearch Id="SysDir" Path="[SystemFolder]" Depth="1">
              <FileSearch Id="CmdExe" Name="cmd.exe"  />
            </DirectorySearch>
        </Property>

        <!-- 
          RemoveFolderEx requires that we "remember" the path for uninstall.
          Read the path value and set the APPLICATIONFOLDER property with the value.
        -->
        <Property Id="APPLICATIONFOLDER">
            <RegistrySearch Key="SOFTWARE\$(var.Manufacturer)\$(var.SkuName)" 
                            Root="HKLM" 
                            Type="raw" 
                            Id="APPLICATIONFOLDER_REGSEARCH" 
                            Name="Path" />
        </Property>

        <MediaTemplate EmbedCab="yes" />

        <!--Directory structure-->
        <Directory Id="TARGETDIR"
                   Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="InstallDir"
                           Name="$(var.InstallDir)" />
                <Directory Id="ProgramMenuFolder">
                    <Directory Id="DIR_Shortcuts"
                               Name="$(var.SkuName)" />
                </Directory>
            </Directory>
        </Directory>

        <!--Components-->
        <DirectoryRef Id="InstallDir">
            <Component Id="CMP_FileToInstallTxt"
                       Guid="367D82BF-A960-4B09-9714-079C93B9E1FB">
                <File Id="FILE_FileToInstallTxt"
                      Source="FileToInstall.txt" />
                <File Id="Auto_install.bat"
                      Source="Auto_install.bat" />
                <File Id="dlv.bat"
                      Source="dlv.bat" />
                <RegistryValue Root="HKLM" 
                               Key="SOFTWARE\$(var.Manufacturer)\$(var.SkuName)" 
                               Name="Path" 
                               Type="string" 
                               Value="[InstallDir]" 
                               KeyPath="yes" />
                <util:RemoveFolderEx On="uninstall" Property="APPLICATIONFOLDER" />
            </Component>
        </DirectoryRef>

        <!--Start Menu Shortcuts-->
        <DirectoryRef Id="DIR_Shortcuts">
            <Component Id="CMP_ReadFileShortcut"
                       Guid="1AF06B42-CD42-4AED-959F-36DB5E512046">

                <Shortcut Id="ReadFileShortcut"
                          Name="Wix Basics - Read File"
                          Description="Read resulting file from WiX basics sample"
                          Target="[InstallDir]FileToInstall.txt" />

                <Shortcut Id="UninstallShortcut"
                          Name="Uninstall WiX Basics"
                          Description="Uninstalls WiX Basics"
                          Target="[System64Folder]msiexec.exe"
                          Arguments="/x [ProductCode]" />

                <RemoveFolder Id="RemoveDIR_Shortcuts"
                              On="uninstall" />

                <RegistryValue Root="HKCU"
                               Key="SOFTWARE\$(var.Manufacturer)\$(var.SkuName)"
                               Name="Path"
                               Type="string"
                               Value="[InstallDir]" 
                               KeyPath="yes" />
            </Component>
        </DirectoryRef>


        <!--Features-->
        <Feature Id="FileToInstallFeature"
                 Title="Wix Basics Feature"
                 Level="1">
            <ComponentRef Id="CMP_FileToInstallTxt" />
            <ComponentRef Id="CMP_ReadFileShortcut" />
        </Feature>

        <CustomAction Id="RunBatch"
            ExeCommand="[InstallDir]$(var.BatchFileToRun)"
            Directory="InstallDir" Impersonate="yes" Execute="deferred" Return="check"/>

        <InstallExecuteSequence>
            <Custom Action="RunBatch" After="InstallFiles">NOT Installed</Custom>
        </InstallExecuteSequence>
         <!--
        <CustomAction Id="BatchScript" Property="CMD" Execute="immediate" Impersonate="yes" Return="check" ExeCommand="/c &quot;&quot;[INSTALLDIR]\dlv.bat&quot; &quot;my arg1&quot; &quot;my arg2&quot;&quot;" />
        -->
        <UIRef Id="WixUI_FeatureTree"/>
    </Product>
</Wix>
